body{
    /* background-image: url('https://img.freepik.com/free-photo/cybersecurity-digital-security-concept_23-2151998498.jpg?semt=ais_hybrid&w=740&q=80') !important;
    background-size: contain; 
    background-position: center; */
     font-family:cursive!important;
    
    /* filter: grayscale(50%) !important; */
}

.blogin{
 background-image: url('https://img.freepik.com/free-photo/cybersecurity-digital-security-concept_23-2151998498.jpg?semt=ais_hybrid&w=740&q=80') !important;
    background-size: contain; 
    height: 100vh;
    background-position: center;
}
.login{
     background-color: rgba(54, 54, 54, 0.697) !important;
     border-radius: 30px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 130px !important;
}


.tab1{
    overflow: scroll;


}
.dashh1{
    margin: 320px auto !important;
    font-size: 50px ;
    width: 900px;
     letter-spacing: 8px;
    background-color: rgba(0, 0, 0, 0.597) !important;
     border-radius: 30px;
     color:skyblue;
     
}

.addgames{
    height: auto;background-color: rgba(0, 0, 0, 0.697) !important; border-radius: 30px;
}


.addcontainer{
    height: 100vh;
    background-image: url("https://wallpapers.com/images/hd/minimalist-desktop-background-pf886ynnnf3uqrjq.jpg");
    background-position: center;
    background-size: cover;
     background-attachment: fixed;
      /* overflow: scroll; */
     overflow-x: hidden;    
}
/* DESKTOP SIDEBAR */
.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 240px;
}

/* MOBILE MENU */
.mobile-menu {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1000;
}

.mobile-menu.show {
    display: block;
}

/* REMOVE SIDEBAR SPACE ON SMALL SCREENS */
@media (max-width: 992px) {
    .main-content {
        margin-left: 0;
    }
}